<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link href="5.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <div class="container">
        <task message="assdd">1</task>

        <!--<template id="task">-->
            <!--<h1>asd</h1>-->
            <!--<button class="btn btn-success">login</button>-->
            <!--<button class="btn btn-success">sign up</button>-->
        <!--</template>-->
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="5.js"></script>
</body>
</html>